/**
 * Place your custom CSS styles here.
 **/
#voz-sticker-holder {
	position: relative;
}

.vs-box {
	position: absolute;
	top: -430px; left: 0; right: 0;
	background-color: red;

	height: 400px;
	background-color: #F1F1F1;
    border: 1px solid #C5C5C5;

    z-index: 300;
}